html {
  height: 100%;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow: hidden;
}

body {
  font: 16px/1.5 Helvetica, Arial, Verdana, sans-serif;
  height: 100%;
  margin: 0;
  background-color: white;
  color: #33333d;
  overflow-y: auto;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section,
article,
blockquote,
header,
footer,
nav {
  display: block;
}

hr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 0;
  overflow: visible;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

blockquote {
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-left: 4px solid #ddd;
  background-color: #f8f8f8;
  color: #777;
}

a {
  background-color: transparent;
  text-decoration: none;
  transition: all 250ms;
  transform: translateZ(0);
  color: #ffa000;
}

a:hover {
  text-decoration: underline;
  color: #ff6f00;
}

pre,
code {
  font-family: Monaco, Courier, monospace;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

pre {
  font-size: 1rem;
  margin-bottom: 1rem;
}

code:not([class^="language-"]) {
  background-color: #f8f8f8;
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  font-size: .8rem;
  border-radius: 2px;
  white-space: nowrap;
}

/**
 * Button
 */

.btn {
  display: inline-block;
  height: 2.375rem;
  border: 1px solid transparent;
  border-radius: 1.2rem;
  line-height: 2.375rem;
  letter-spacing: 0.5px;
  text-align: center;
  font-weight: normal;
  vertical-align: middle;
  padding: 0 1em;
  background-color: #ffa000;
  color: #fff;
  transition: all .25s ease;
  transform: translateZ(0);
  cursor: pointer;
  text-decoration: none !important;
}

.btn.outline {
  border: 1px solid #ffa000;
  color: #ffa000;
  background-color: transparent;
}

.btn:hover {
  background-color: #ff6f00;
  color: #fff;
  border-color: #ff6f00;
  text-decoration: none;
}

.btn + .btn {
  margin-left: 1rem;
}

/**
 * Navigation
 */

.nav-wrapper {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  transition: all .25s ease;
  transform: translateZ(0);
  background-color: #E77022;
  background: -webkit-linear-gradient(left, #E77022, #D93A98); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #E77022, #D93A98); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #E77022, #D93A98); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #E77022, #D93A98); /* 标准的语法 */
}

.nav {
  display: table;
  width: 100%;
  color: white;
}

.nav-brand,
.nav-title,
.nav-main,
.nav-hamburger {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: .5rem;
}

.nav-brand {
  width: 1%;
}

.nav-brand img {
  display: block;
  width: auto;
  height: 1.25rem;
}

.nav-title {
  display: table-cell;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  padding-left: 1.5rem;
  text-transform: capitalize;
}

.nav-title:not(:empty):before {
  display: block;
  content: '';
  position: absolute;
  top: .875rem;
  left: .5rem;
  bottom: .875rem;
  width: 2px;
  background-color: currentColor;
  opacity: .5;
}

.nav-main {
  /* 1*2 + .25*3 + .125*2 + .5 = 3.5 */
  padding: 3.5rem .5rem .5rem;
  font-size: 0;
  z-index: 9;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  transform: translateX(100%);
  transition: all 250ms;
  background-color: #fff;
  min-width: 38.2vw;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-main.is-show {
  transform: translateX(0);
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.nav-main a {
  display: block;
  /* .875*2 + .125*2 + .25*4 = 3 */
  line-height: 3rem;
  padding: 0 .875rem;
  font-size: 1rem;
  color: #33333d;
}

.nav-main a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, .1);
}

.nav-main-divider {
  height: .5rem;
}

.nav-hamburger {
  z-index: 10;
  width: 1%;
  text-decoration: none !important;
  padding: 1rem .875rem; /* 为什么是1rem? 子节点span的margin重叠了 0.25rem */
  cursor: pointer;
  transition: all 250ms;
  transform: translateZ(0);
}

.nav-hamburger:hover {
  background-color: rgba(0, 0, 0, .1);
}

.nav-hamburger span {
  position: relative;
  display: block;
  width: 1rem;
  height: 0.125rem;
  background-color: #fff;
  transition: all 250ms;
  transform: translateZ(0);
  transform-origin: center;
  margin: 0.25rem; /* 两个 span 之间的 margin 被重叠了 0.25rem，将它添加到父类的padding上面 */
}

.nav-hamburger.is-active span:first-child {
  background-color: #33333d;
  transform: rotate(225deg);
  /* margin/2 + height/2 */
  /* .25/2 + .125/2 = .1875 */
  top: 0.1875rem;
}

.nav-hamburger.is-active span:last-child {
  background-color: #33333d;
  transform: rotate(-225deg);
  top: -0.1875rem;
}

@media screen and (max-width: 320px) {
  .nav-main {
    min-width: 50vw;
  }
}

/**
 * Section
 */

section {
  min-height: 50%;
  text-align: center;
  border-top: 1px solid #eee;
}

section:nth-child(2n-1) {
  background: #fdfdfd;
  box-shadow: inset 0 1px 0 0 white;
}

footer {
  border-top: 1px solid #eee;
}

header,
section,
main,
footer {
  padding: 6.25rem;
}

header > article,
footer > article,
section > article {
  margin: 0 auto;
  max-width: 46.875rem;
  text-align: left;
}

article > *:first-child {
  margin-top: 0;
}

article > *:last-child {
  margin-bottom: 0;
}

header {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 33.75rem;
  padding: 0;
}

header > article {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

header img[src$="applet.png"] {
  width: 100px;
  height: auto;
}

.description {
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 1.5px;
  margin: 0 auto 1.5rem;
  width: 33rem;
  text-align: center;
  line-height: 1.25;
}

@media screen and (max-width: 700px) {
  header,
  section,
  main,
  footer {
    padding: 50px 25px;
  }

  .description {
    width: 100%;
  }
}

/**
 * Hightlight
 */

pre {
  position: relative;
  overflow: hidden;
}

pre code {
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #e1e1e8;
}

code.has-numbering {
  position: relative;
  padding-left: 2.5rem;
}

.pre-numbering {
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: #f7f7f9;
  color: #aaa;
  text-align: right;
  width: 2rem;
  margin: 0;
  padding: .5rem 2px .5rem 6px;
  border-right: 1px solid #e1e1e8;
}

.pre-numbering > li {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: .8rem;
  list-style: none;
}

/**
 * highlightjs
 */

.hljs,
[class^="language-"] {
  display: block;
  overflow-x: auto;
  padding: .5rem;
  background: #F0F0F0
}

.hljs,
.hljs-subst {
  color: #444
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-template-tag {
  color: #880000
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold
}

.hljs-regexp,
.hljs-template-variable {
  color: #BC6060
}

.hljs-literal {
  color: #78A960
}

.hljs-code,
.hljs-addition {
  color: #397300
}

.hljs-meta {
  color: #1f7199
}

.hljs-meta-string {
  color: #4d99bf
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}

.hljs-comment {
  color: #888888
}

.hljs-quote,
.hljs-variable {
  color: #008000
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #00f
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-params {
  color: #2b91af
}

.hljs-doctag {
  color: #808080
}

.hljs-attr {
  color: #f00
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8
}
